html
	box-sizing border-box
	height 100%

*
*:before
*:after
	box-sizing: inherit

body
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	height 100%
	background-color white
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size .875rem
	line-height 1.5
	color hsl(220, 50%, 20%)

h1
h2
h3
h4
	margin-top 0
	margin-bottom 2rem
	line-height 1.25

h1
	font-size 4rem

h2
	font-size 2rem

h3
	font-size 1.5rem

img
canvas
iframe
video
svg
select
textarea
	max-width 100%

a
	color #265C83
	text-decoration none
	transition 200ms color

	&:visited
		color #265C83
		
	&:hover  
		color #7FDBFF
		
	&:active 
		color #007BE6

hr
	display block
	height 1px
	margin 2rem 0
	padding 0
	border 0
	border-top 1px solid #e5e5e5
	
dt
	font-weight 700
	
dd
	margin-left 0
