


// Breakpoints
mq-x-small = 'only screen and (min-width 20em)'
mq-small = 'only screen and (min-width 28em)'
mq-medium = 'only screen and (min-width 48em)'
mq-large = 'only screen and (min-width 64em)'
mq-x-large = 'only screen and (min-width 80em)'

// Timing functions
slow-in-fast-out = cubic-bezier(1,0,1,0)
slow-out-fast-in = cubic-bezier(0,.5,.5,1)
follow-through = cubic-bezier(0,.5,.5,1.5)
anticipation = cubic-bezier(.5,-0.5,1,0)